<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-WWW-Access_ykEtJSCyZpV9CFQWfhak1w==_29-access-</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>WWW-Access_ykEtJSCyZpV9CFQWfhak1w==_29-access-</wdId>
      <tags>WWW-Access</tags>
      <dirName>/var/log/apache/,/var/log/nginx/</dirName>
      <hosts></hosts>
      <filePattern>*access*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>300</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat></timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>,,None</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-WWW-Error_ykEtJSCyZpV9CFQWfhak1w==_29-error-</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>WWW-Error_ykEtJSCyZpV9CFQWfhak1w==_29-error-</wdId>
      <tags>WWW-Error</tags>
      <dirName>/var/log/apache/,/var/log/nginx/</dirName>
      <hosts></hosts>
      <filePattern>*error*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat>[EEE MMM d HH:mm:ss yyyy</timeFormat>
      <flush>false</flush>
      <maxAgeDays>300</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat>[EEE MMM d HH:mm:ss yyyy</timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>,,None</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->