<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-WWW-Access</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>WWW-Access</id>
      <filePathMask>tag:WWW-Access</filePathMask>
      <fileNameMask>*access_log*</fileNameMask>
      <priority>100</priority>
      <expression>(.*?)\s(.*?)\s(.*?)\s\[(.*?)\]\s&quot;(.*?)\s(.*?)\s(.*?)&quot;\s(.*?)\s(.+)\s\&quot;(.*?)\&quot;\s\&quot;(.*?)\&quot;</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1490111886189</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>ClientIP</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>true</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>RFC1413Identity</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>UserID</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Timestamp</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>HTTP_Method</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>5</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Resource</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>6</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Protocol</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>7</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>StatusCode</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>8</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Size_bytes</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>9</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Referrer</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>10</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>UserAgent</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>11</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
      </fields>
      <example>
        <string>127.0.0.1 - frank [10/Oct/2000:13:55:36 -0700] &quot;GET /apache_pb.gif HTTP/1.0&quot; 200 2326 &quot;http://www.example.com/start.html&quot; &quot;Mozilla/4.08 [en] (Win98; I ;Nav)&quot;</string>
        <string></string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-WWW-Error</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>WWW-Error</id>
      <filePathMask>tag:WWW-Error</filePathMask>
      <fileNameMask>*error_log*</fileNameMask>
      <priority>100</priority>
      <expression>\[(.*?)]\s\[(.*?)\]\s\[client\s(.*?)\]\s(.*)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1490111902945</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Timestamp</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>true</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>level</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>clientAddress</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Message</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
      </fields>
      <example>
        <string>[Mon Mar 20 17:58:00 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 18:00:09 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 18:10:09 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 18:19:01 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 18:42:29 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 18:52:30 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 18:58:52 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 19:03:58 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 19:08:55 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 19:22:11 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 19:31:25 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 19:39:40 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 19:41:33 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 19:42:45 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 20:02:13 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 20:04:35 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 20:11:33 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 20:12:55 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 20:25:31 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
        <string>[Mon Mar 20 20:44:48 2017] [info] [client 64.242.88.10] (104)Connection reset by peer: client stopped connection before send body completed</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->